<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" >
    <link rel="stylesheet" href="/css/stylesheet.css"
</head>


<body>

    <div class="main-content">
        
        {{>header}}

        <p>This a weather application. It provides weather duh! . Need More Help! . Go to a Doctor!. </p>
        
        <img class="portrait" src="/img/TB_new.jpg">

    </div>

    {{>footer}}

</body>


</html>