<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png" >
    <link rel="stylesheet" href="/css/stylesheet.css"
</head>


<body>

    <div class="main-content">

        {{>header}}
        <p>Feel Free to give contact me . You know me by the name of {{name}}</p>
    </div>
        {{>footer}}


</body>


</html>